.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.wrapper {
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
}

.product_box {
    border: #717171;
    width: 600px;
}
