.button_style {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin: 6px 0 6px 0;
    background-color: #16AC37;
}
