.products_box {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    max-width: 800px;
}

.summary {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    justify-content: space-between;
    align-self: flex-start;
    position: sticky;
    top: 20px;
    padding: 20px;
    border: 2px solid #717171;
    border-radius: 8px;
}

.summary>div {
    width: 48%;
}

.button_wrapper {
    width: 100%;
    margin-top: 16px;
}

@media screen and (max-width: 1024px) {
    .products_box {
        flex-direction: column;
    }

    .summary {
        width: 100%;
        max-width: 800px;
        position: static;
    }
}
