.center {
    display: flex;
    justify-content: center;
    height: 700px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column nowrap;
}

.wrapper a {
    color: #717171;
    font-size: 0.8rem;
    align-self: self-end;
    padding: 2px;
    text-decoration: underline;
}

.align_fix {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.support_text {
    color: #717171
}
