nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;

    user-select: none;
}

header {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 150px;

    user-select: none;
}

.left {
    width: 100%;
    margin-left: 15px;
    font-size: 0.5rem;
}

.right {
    width: 300px;
    display: flex;
    justify-content: end;
    margin-right: 15px;
    gap: 5px;
}

.right .profile {
    width: 3.875rem;
    height: 3.875rem;

    background-color: #ffffff;
    border: 3px solid #1f1f1f;
    border-radius: 100%;
}


.right .cart {
    width: 3.875rem;
    height: 3.875rem;
    background-color: #ffffff;
    background-image: url('../icons/cart.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
}

@media screen and (max-width: 768px) {
    header {
        margin-left: 0;
    }
}
