.product_box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.product_box hr {
    width: 100%;
    margin: 0;
}

.image {
    width: 100px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_text {
    width: 200px;
    padding: 12px;
}

.product_history {
    padding: 12px;
}

.product_history ul {
    list-style: none;
}

.edit_button {
    padding: 8px;
    margin: 12px;
    cursor: pointer;
    background-color: #16AC37;
    color: white;
    border: none;
    border-radius: 4px;
}
