.product_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 8px;
    margin: 8px 0 8px 0;
    border: 2px solid #717171;
    border-radius: 8px;
}

.product_photo {
    width: 100px;
}

.product_photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_text,
.product_price,
.product_quantity {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 12px;
}

.edit_button {
    padding: 12px;
    cursor: pointer;
    background-color: #16AC37;
    color: white;
    border: none;
    border-radius: 4px;
}
